<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hostelmanagementsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".complainList"></activity>
        <activity
            android:name=".addExpencesList"
            android:theme="@style/hisabPageTheme" />
        <activity
            android:name=".hisabPage"
            android:theme="@style/hisabPageTheme" />
        <activity
            android:name=".studentListPage"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".Expense_Row" />
        <activity android:name=".Fees_Row" />
        <activity android:name=".Complain_Row" />
        <activity android:name=".CreateNewStudent" />
        <activity android:name=".HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>